@media (min-width: 992px) {
    .col-md-4 {
        width: auto;
        min-width: 410px;
    }
}

@media (max-width: 600px) {
    .panel-default {
        border-color: black;
    }

    #totals {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        max-height: 150px;
    }

    #totals.totalsActive {
        max-height: 90%;
    }

    .totalsActive {
        /*max-height: 400px;*/
        /*height: 400px;*/
    }

    #totals-detail {
        overflow-y: scroll;
        max-height: 80px;
    }

    #totals-detail.totalsActive {
        max-height: 80vh;
    }

    .expandTotals, .collapseTotals {
        position: absolute;
        right: 5px;
        top: 5px;
        display: inline-block;
    }

    .expandTotals.totalsActive {
        display: none;
    }

    .collapseTotals.totalsActive {
        display: inline-block;
    }

    .collapseTotals {
        display: none;
    }

}